div#_pretend_not_to_watch {
    float: right !important;
}

div#metapanel div#_pretend_not_to_watch {
    margin-bottom: 8px !important;
}

button#_pretend_not_to_watch_button {
    margin: 0 0 0 auto !important;
}

div._pretend_not_to_watch_noTarget {
    color: #cfcf63 !important;
}

div._pretend_not_to_watch_failed {
    color: #ff8983 !important;
}

ytd-watch-metadata h1.ytd-watch-metadata {
    display: block !important;
    max-height: none !important;
}